## Hamoye_Introduction to Python for Machine Learning_Test1

In [256]:
# Import necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
 fd= pd.read_csv(r'C:\Users\user\OneDrive\Documents\ML Notebooks\FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [17]:
fd.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [111]:
fd.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [18]:
fd.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [20]:
fd.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [237]:
# the year with the highest sum of stock variation
fd.groupby('Element').Y2014.sum().astype('int').sort_values(ascending = True)

Element
Tourist consumption                           416
Fat supply quantity (g/capita/day)          10225
Protein supply quantity (g/capita/day)      11836
Seed                                        21922
Residuals                                   30149
Food supply quantity (kg/capita/yr)         49650
Stock Variation                             58749
Other uses (non-food)                       78718
Export Quantity                            150020
Losses                                     153223
Feed                                       216927
Import Quantity                            274144
Processing                                 282923
Food supply (kcal/capita/day)              454257
Total Population - Both sexes             1031585
Food                                      1212332
Production                                1931287
Domestic supply quantity                  1996716
Name: Y2014, dtype: int32

In [238]:
fd.groupby('Element').Y2015.sum().astype('int').sort_values(ascending = True)

Element
Tourist consumption                           349
Fat supply quantity (g/capita/day)          10235
Protein supply quantity (g/capita/day)      11833
Seed                                        23976
Residuals                                   30045
Stock Variation                             34910
Food supply quantity (kg/capita/yr)         49345
Other uses (non-food)                       66254
Losses                                     155439
Export Quantity                            157614
Feed                                       225050
Import Quantity                            267018
Processing                                 287929
Food supply (kcal/capita/day)              453383
Total Population - Both sexes             1058081
Food                                      1232361
Production                                1947019
Domestic supply quantity                  2021493
Name: Y2015, dtype: int32

In [239]:

fd.groupby('Element').Y2016.sum().astype('int').sort_values(ascending = True)

Element
Tourist consumption                            89
Fat supply quantity (g/capita/day)          10102
Protein supply quantity (g/capita/day)      11779
Seed                                        23389
Stock Variation                             33140
Residuals                                   37224
Food supply quantity (kg/capita/yr)         48985
Other uses (non-food)                       69563
Export Quantity                            151920
Losses                                     157787
Feed                                       228958
Processing                                 280631
Import Quantity                            286582
Food supply (kcal/capita/day)              451810
Total Population - Both sexes             1085107
Food                                      1247022
Production                                1943537
Domestic supply quantity                  2044842
Name: Y2016, dtype: int32

In [240]:
fd.groupby('Element').Y2017.sum().astype('int').sort_values(ascending = True)

Element
Tourist consumption                            91
Fat supply quantity (g/capita/day)          10253
Protein supply quantity (g/capita/day)      11842
Seed                                        24870
Residuals                                   35500
Food supply quantity (kg/capita/yr)         48690
Stock Variation                             54316
Other uses (non-food)                       91645
Losses                                     160614
Export Quantity                            182338
Feed                                       223705
Processing                                 292836
Import Quantity                            294559
Food supply (kcal/capita/day)              454681
Total Population - Both sexes             1112641
Food                                      1258888
Production                                2030056
Domestic supply quantity                  2088198
Name: Y2017, dtype: int32

In [ ]:
# 2014 has the highest stock variation

In [254]:

fd.groupby('Area')['Y2017'].sum().sort_values(ascending = True)[:7]

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [255]:
# Guinea-Bissau Area had the 7th lowest sum in 2017

In [166]:
fd2 = fd.groupby('Element')['Y2015'].sum()
fd2.tail(50)

Element
Domestic supply quantity                  2021493.55
Export Quantity                            157614.47
Fat supply quantity (g/capita/day)          10235.74
Feed                                       225050.22
Food                                      1232361.10
Food supply (kcal/capita/day)              453383.00
Food supply quantity (kg/capita/yr)         49345.13
Import Quantity                            267018.46
Losses                                     155439.00
Other uses (non-food)                       66254.41
Processing                                 287929.00
Production                                1947019.39
Protein supply quantity (g/capita/day)      11833.95
Residuals                                   30045.00
Seed                                        23976.82
Stock Variation                             34910.99
Total Population - Both sexes             1058081.00
Tourist consumption                           349.00
Name: Y2015, dtype: float64

In [137]:
S = [['him', 'sell'], [90, 28,43]]
S[0][1][1]

'e'

In [36]:
fd.shape

(60943, 12)

In [43]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93],
       [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

df = pd.DataFrame(lst, columns = col,
                 index = [i for i in range(1,4)])
df

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [45]:
fd.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64

In [169]:
# 49 IS THE TOTAL NO. OF UNIQUE COUNTRY

In [167]:
fd.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [168]:
# 2016 has the least correlation under ELEMENT CODE

In [180]:

fd[fd.Y2014.isna()].sum()

Area Code                                                  207084
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                 4160778
Item            Rice and productsBarley and productsRye and pr...
Element Code                                              7883990
Element         Export QuantityExport QuantityImport QuantityE...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                         0.0
Y2015                                                      349.35
Y2016                                                       391.9
Y2017                                                      706.17
Y2018                                                      862.29
dtype: object

In [182]:

fd[fd.Y2014.isna()].Area.nunique()

45

In [186]:
#number of rows with missing data
num_missing = fd[fd.Y2014.isna()].shape[0]
num_missing

1589

In [187]:
#number of rows in all the data set
num_all = fd.shape[0]
num_all

60943

In [188]:
#percentage of rows with missing description
(num_missing/num_all) * 100

2.6073544131401474

In [194]:
# round to 3 decimal places
rd = (num_missing/num_all) * 100
round(rd, 3)

2.607

In [197]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [198]:
# TypeError

In [201]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x

8

In [206]:
fd.groupby('Area').Y2017.sum().astype('int').sort_values(ascending = False).head()

Area
Nigeria         1483268
Egypt            866379
South Africa     517590
Ethiopia         448683
Morocco          388495
Name: Y2017, dtype: int32

In [207]:
# Nigeria has the highest sum in 2017

In [209]:
fd.groupby('Element').Y2017.sum().astype('int').sort_values(ascending = False)

Element
Domestic supply quantity                  2088198
Production                                2030056
Food                                      1258888
Total Population - Both sexes             1112641
Food supply (kcal/capita/day)              454681
Import Quantity                            294559
Processing                                 292836
Feed                                       223705
Export Quantity                            182338
Losses                                     160614
Other uses (non-food)                       91645
Stock Variation                             54316
Food supply quantity (kg/capita/yr)         48690
Residuals                                   35500
Seed                                        24870
Protein supply quantity (g/capita/day)      11842
Fat supply quantity (g/capita/day)          10253
Tourist consumption                            91
Name: Y2017, dtype: int32

In [210]:
# The total number of the sum of Processing in 2017 is 292836

In [231]:
fd.groupby('Item').Y2015.sum().astype('int').sort_values(ascending = True)[:40]

Item
Ricebran Oil                     0
Fish, Liver Oil                  6
Aquatic Animals, Others          9
Cloves                          77
Molluscs, Other                134
Pepper                         137
Fish, Body Oil                 193
Sugar non-centrifugal          230
Cream                          233
Rape and Mustard Oil           312
Infant food                    340
Rye and products               428
Cephalopods                    496
Coconut Oil                    556
Sesameseed Oil                 587
Aquatic Plants                 631
Aquatic Products, Other        638
Rape and Mustardseed           663
Honey                          713
Crustaceans                    732
Oats                           930
Maize Germ Oil                 950
Butter, Ghee                  1165
Palmkernel Oil                1408
Cottonseed Oil                1507
Olive Oil                     1711
Fats, Animals, Raw            1729
Spices, Other                 2068
Alcohol, Non-Food             2180
Grapefruit and products       2352
Peas                          2472
Tea (including mate)          2627
Pimento                       2754
Beverages, Alcoholic          2818
Marine Fish, Other            3153
Lemons, Limes and products    3667
Coffee and products           3849
Wine                          4251
Sunflowerseed Oil             4986
Spices                        5059
Name: Y2015, dtype: int32

In [ ]:
# the total sum of Wine produced in 2015 is 4251

In [232]:
fd.groupby('Item').Y2018.sum().astype('int').sort_values(ascending = True)[:40]

Item
Ricebran Oil                     0
Aquatic Animals, Others          5
Fish, Liver Oil                 48
Cloves                          82
Pepper                         141
Molluscs, Other                157
Sugar non-centrifugal          215
Fish, Body Oil                 219
Rape and Mustard Oil           247
Cream                          271
Infant food                    298
Rye and products               324
Aquatic Plants                 452
Aquatic Products, Other        456
Cephalopods                    532
Coconut Oil                    537
Sesameseed Oil                 589
Rape and Mustardseed           666
Honey                          681
Crustaceans                    833
Maize Germ Oil                 865
Oats                          1029
Butter, Ghee                  1175
Cottonseed Oil                1421
Palmkernel Oil                1516
Fats, Animals, Raw            1707
Olive Oil                     1983
Alcohol, Non-Food             2293
Peas                          2353
Grapefruit and products       2449
Tea (including mate)          2834
Pimento                       2847
Beverages, Alcoholic          2979
Marine Fish, Other            3134
Spices, Other                 3318
Coffee and products           4009
Wine                          4039
Lemons, Limes and products    4220
Meat, Other                   5412
Groundnut Oil                 5463
Name: Y2018, dtype: int32

In [ ]:
# the total sum of Wine produced in 2018 is 4039